@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.wipe-transition {
    z-index: 1000;
    width: 100vw;
    height: 100%;
    background: #FCFFD8;
    position: absolute;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wipe-transition img{
    width: 30%;
}


.burger{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 60px;
    height: 40px;
    line-height: 100px;
    text-align: center;
    font-size: 3em;
    cursor: pointer;
}

/* .burger:hover{
    width: 80px;
} */

.flexburger{
    position: fixed;
    display:  flex;
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    gap: 15%;
    align-items: center;
    transition: 0.3s;

}
.flexburger:hover{
    gap: 30%;
}

.burger div{
    width: 80%;
    height: 2px;
    background-color: #55410A;
}


.overlay {
    z-index: 30;
    height: 100%;
    width: 0;
    position: fixed; 
    right: 0;
    top: 0;

    background-color: #CAB492; 
    overflow-x: hidden; 
    transition: 0.5s; 
}
.overlay-content {
    position: relative;
    top: 30%; 
    width: 100%;
    text-align: center; 

}
.overlay a {
    font-family: 'Cormorant', serif;
    font-weight: 400;
     padding: 8px;
    text-decoration: none;
    font-size: 40px;
    color: #55410A;
    display: block; 
    transition: 0.3s; 
}
.overlay a:hover, .overlay a:focus {
    transform: scale(1.1);
    color: #FCFFD8;

}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
::-webkit-scrollbar { 
    display: none; 
}

body{
    background: #FCFFD8;
    color: #55410A;
}
.flexrow{
    display: flex;
}
.flexcenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.absolute{
    position: absolute;
    
}
.indexopening{
    width: 100%;
    height: 100vh;
    position: relative;
}
.firstpolygon{
    clip-path: polygon(0 0, 90% 0%, 80% 100%, 0% 100%);
    background-color: #FCFFD8;
    height: 100%;
    width: 70%;
    z-index: 5;
}
.title{
    flex-direction: column;
    margin-right: 15%;
    color: #55410A;
    line-height: 80px;
}
.firstpolygon h1{
    font-family: 'Cormorant', serif;
    font-size: 160px;
    font-weight: 400;
    opacity: 0;
    transform: translateY(-60px);
    animation: move 1.2s 0s  forwards;
}
.firstpolygon h2{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.13em;
    opacity: 0;
    transform: translateY(-40px);
    animation: move 1s 0.3s  forwards;
}
.btn1{
    padding: 5px 15px;
    font-family: 'Red Hat Text', sans-serif;
    background: #FCFFD8;
    border: #55410A 1px solid;
    border-radius: 3px;
    transition: 0.3s ease;
    opacity: 0;
    animation: moving 1.2s 1s  forwards;

}
.btn1 a{
    text-decoration: none;
    color: #55410A;
}
.btn1:hover{
   background: #CAB492;
}

.secondpolygon{
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    background: url('Photo\ index.png') center top no-repeat;
    background-size: cover;
    width: 30%;
    height: 100%;
    left: 55%;
    z-index: 4;
}
.thirdpolygon{
    background: #CAB492;
    right: 0%;
    width: 40%;
    height: 100%;
    overflow: hidden;
}
.thirdpolygon img{
position: absolute;
 transform: translate(5%, -50%);
 z-index: 3;
 right: 0%;
 top: 50%;
 width: 30%;
}
.links{
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    width: 50px;
    transform: translate(0%, -50%);
    left: 0%;
    top: 50%;
    z-index: 5;
}
.an1{
    opacity: 0;
    animation: moving 1s 1.4s  forwards;
}
.an2{
    opacity: 0;
    animation: moving 1s 1.6s  forwards;
}
.an3{
    opacity: 0;
    animation: moving 1s 1.8s  forwards;
}
.links a img{
    width: 20px;
    transition: 0.3s;
}
.links a img:hover{
    transform: scale(1.3);
}

.bgwork{
    width: 100%;
    height: 100%;
    position: fixed;
    /* z-index: -1; */
}
.bgwork img{
    width: 90%;
    overflow: hidden;
}

.bgwork div{
    width: 500px;
    height: 500px;
    border-radius: 100%;
    right: -20%;
    bottom: -30%;
    background: #CAB492;
    display: flex;
    justify-content: center;
}
.bgwork div img {
    width: 20%;
}

.workcontainer{
    position: relative;
    z-index: 3;
    width: 100%;
    height: 150vh;
}
.worktxt {
    width: 50%;
    height: 100vh;
    flex-direction: column;
    color: #55410A;
    position: fixed;
}
.worktxt h1{
    width: 80%;
    font-family: 'Cormorant', serif;
    font-size: 100px;
    font-weight: 400;
    opacity: 0;
    transform: translateY(-40px);
    animation: move 1s 0s  forwards;
}
.worktxt p{
    width: 80%;
    font-family: 'Sarala', sans-serif;
    font-size: 12px;
    opacity: 0;
    animation: moving 0.9s 1s  forwards;
}
.worktxt a{
    color: green;
}
.workpages{
    width: 50%;
    height: 150vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    right: 0%;
}
.workit{
    width: 70%;
    height: 27%;
    box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.3);
}

.filrouge{
    background: url('imagefilrouge.png') center no-repeat;
    background-size: cover;
    opacity: 0;
    transform: translateX(80px);
    animation: move 1s 0.5s  forwards;
}
.sheinb{
    background: url('Sheinbimage.png') center no-repeat;
    background-size: cover;
    opacity: 0;
    transform: translateX(80px);
    animation: move 1s 0.8s  forwards;
}
.eaulyd{
    background: url('SOON.png') center no-repeat;
    background-size: cover;
    opacity: 0;
    transform: translateX(80px);
    animation: move 1s 1.2s  forwards;
}
.workhover{
    height: 100%;
    width: 100%;
    background: black;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    opacity: 0;
    transition: 0.4s;
}
.workhover a{
    color: white;
    text-decoration: none;
    opacity: 2;
}
.workhover:hover{
    opacity: 0.9;
}
.aboutcontainer{
    position: relative;
    z-index: 4;
    width: 100%;
    height: 100vh;
}

.aboutxt{
    position: relative;
    height: 100%;
    width: 50%;
}
.aboutxt h1{
    position: absolute;
    top: 20%;
    color: #55410A;
    font-size: 90px;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    width: 100%;
    text-align: end;
    padding-right: 20%;
    opacity: 0;
    transform: translateY(-30px);
    animation: move 1.2s 0s  forwards;
}
.bioabout{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    width: 45%;
    height: 45%;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.4);
    background: #FCFFD8;
    font-family: 'Sarala', sans-serif;
    font-size: 12px;
    opacity: 0;
    animation: moving 1s 0.4s  forwards;
}
.bioabout p{
    width: 90%;
    height: 90%;
}
.aboutdecor{
    position: relative;
    z-index: -1;
    height: 100%;
    width: 50%;
    background: #CAB492;
}
.bgabout{
    width: 70%;
    height: 100%;
    background: url('DarkMocha.png') no-repeat center;
    background-size: cover;
    box-shadow: 5px 8px 21px rgba(0, 0, 0, 0.71);
}
.cv{
        transform: translate(-50%,0%);
        right: 10%;
        bottom: 5%;
    padding: 15px;
}

.prjcontainer{
    width: 100%;
    height: 150vh;
    position: relative;
}


.imgprj{
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.sb1{
  background: url('Sheinblandigpage1.png') center no-repeat;
  background-size: cover;  
  opacity: 0;
  transform: translateX(-40px);
  animation: move 1s 0s  forwards;
}
.sb2{
  background: url('Sheinblandigpage2.png') center no-repeat;
  background-size: cover;  
  opacity: 0;
  transform: translateX(-40px);
  animation: move 1s 0s  forwards;
}
.sb3{
  background: url('Sheinblandigpage3.png') center no-repeat;
  background-size: cover;  
  opacity: 0;
  transform: translateX(-40px);
  animation: move 1s 0s  forwards;
}
.fr1{
  background: url('fil\ rouge\ 1.png') center no-repeat;
  background-size: cover;  
  opacity: 0;
  transform: translateX(-40px);
  animation: move 1s 0s  forwards;
}
.fr2{
  background: url('filrouge2.png') center no-repeat;
  background-size: cover;  
  opacity: 0;
  transform: translateX(-40px);
  animation: move 1s 0s  forwards;
}
.fr3{
  background: url('filrouge3.png') center no-repeat;
  background-size: cover;  
  opacity: 0;
  transform: translateX(-40px);
  animation: move 1s 0s  forwards;
}
.bioprj{   
    height: 100%;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    right: 0%;
    gap: 3%;
}
.bioprj h1{
    width: 80%;
    font-family: 'Cormorant', serif;
    font-size: 100px;
    font-weight: 400;
    opacity: 0;
    transform: translateY(-40px);
    animation: move 1s 0s  forwards;
}
.bioprj p{
    width: 80%;
    font-family: 'Sarala', sans-serif;
    font-size: 12px;
    opacity: 0;
    animation: moving 1s 0.4s  forwards;
}
.bioprj span{
    font-size: 30px;
}

.imgprj2{
    width: 100%;
    height: 130VH;
    background: #CAB492;
    position: relative;
    z-index: 3;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    display: none;
    padding: 2% 0%;
}
.prjkit{
    width: 80%;
    height: 30%;
    box-shadow: none;
}
.sb4{
    background: url('Sheinblandigpage1.png') center no-repeat;
    background-size: contain;  
  }

  .sb5{
    background: url('Sheinblandigpage2.png') center no-repeat;
    background-size: contain;  
  }
  .sb6{
    background: url('Sheinblandigpage3.png') center no-repeat;
    background-size: contain;  
  }
  .fr4{
    background: url('fil\ rouge\ 1.png') center no-repeat;
    background-size: cover;  
  }
  .fr5{
    background: url('filrouge2.png') center no-repeat;
    background-size: cover;  
  }
  .fr6{
    background: url('filrouge3.png') center no-repeat;
    background-size: cover;  
  }

  .closeprj{
      width: 40px;
      height: 40px;
      position: absolute;
      top: 2%;
      right: 2%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
  }
  .closeprj a{
    text-decoration: none;
    font-weight: bolder;
    color: #55410A;
    transition: 0.4s;
  }
  .closeprj a:hover{
    color: #CAB492;
  }
  .fixed{
      position: fixed;
  }
  
.services-container{
        border: red solid 2px;
        width: 100%;
        height: 100vh;
}

.services-container h1{
    border: red solid 2px;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-family: 'Cormorant', serif;
    font-size: 50px;
}
.gridcontainer{
    border: red solid 2px;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.grid{
    border: red solid 2px;
    height: 100%;
    width: 90%;
}

.wkimg{
    opacity: 0;
    animation: moving 1.5s 0.6s  forwards;
    position: absolute;
}

.bgcontact{
    position: absolute;
    right: 0%;
    height: 100%;
    width: 150px;
    background-color: #CAB492;
    z-index: -1;
}

.contact-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-container h1{
    font-family: 'Cormorant', serif;
    font-size: 90px;
    font-weight: 400;
    margin-bottom: 2%;
    opacity: 0;
    transform: translateY(-60px);
    animation: move 1s 0.3s  forwards;
}
.contact-container form{
    /* border: red solid 2px; */
    width: 80%;
}
.infocontainer{
    /* border: red solid 2px; */
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-bottom: 3%;
}
.infocontainer h3{
    font-family: 'Cormorant', serif;
    font-size: 45px;
    font-weight: 500;
}
.infocontainer input{
    font-family: 'Cormorant', serif;
    font-size: 30px;
    color: #55410A;
    font-weight: 700;
    width: 40%;
    padding-left: 10px;
    background: none;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: #55410A 3px solid;
}

.r1{
    opacity: 0;
    transform: translateX(-60px);
    animation: move 1s 0s  forwards;
}
.r2{
    opacity: 0;
    transform: translateX(60px);
    animation: move 1s 0s  forwards;
}


.subcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit{
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    color: #55410A;
    width: 145px;
    height: 40px;
    background: #FCFFD8;
    border: 2px #55410A solid;
    border-radius: 6px;
    transition: 0.2s;
    opacity: 0;
    transform: translateY(60px);
    animation: move 1s 0.3s  forwards;
}
.submit:hover{
    background: #CAB492;
}
::placeholder{
    color: #55410A;
}

.contact-container p{
    width: 60%;
    margin-top: 5%;
    font-family: 'Sarala', sans-serif;
    font-size: 15px;
    opacity: 0;
    transform: translateY(60px);
    animation: move 1s 0.6s  forwards;
}

@keyframes move {
    
    100%{
        opacity: 1;
        transform: none;
    }

}

@keyframes moving{
    
    100%{
        opacity: 1;
    }

}

@media(max-width : 1000px){
    .firstpolygon h1{
        font-size: 130px;
    }
    .firstpolygon h2{
        font-size: 20px;
    }

    .bioprj h1{
        width: auto;
        font-size: 35px;
    }
    .bioprj{
        gap: 5%;
    }
}

@media(max-width : 950px){
    .aboutxt h1{
        font-size: 70px;
    }
}
@media(max-width : 850px){
    .firstpolygon h1{
        font-size: 110px;
    }
    .firstpolygon h2{
        font-size: 15px;
    }
    .worktxt h1{
        width: 90%;
        font-size: 80px;
    }
    .worktxt p{
    width: 90%;
    font-size: 12px;
}
}
@media(max-width : 800px){
    .contact-container p{
        width: 80%;
        font-size: 12px;
    }
    .imgprj{
        display: none;
    }
    .bioprj{
        width: 100%;
    }
    .bioprj h1{
        font-size: 80px;
    }
    .prjcontainer{
        height: 100VH;
    }
    .imgprj2{
        display: flex;
    }
}

@media(max-width : 700px){

    .workit{
        width: 80%;
      
}
    .firstpolygon{
        width: 80%;
    }
    .title{
        line-height: 60px;
    }
    .firstpolygon h1{
        font-size: 100px;
    }
    .firstpolygon h2{
        font-size: 13px;
    }
    .secondpolygon{
        width: 37%;
    }
    .bioabout{
        width: 75%;
    }
    .bgabout{
        width: 80%;
        box-shadow: 5px 6px 21px rgba(0, 0, 0, 0.60);
    }
}

@media(max-width : 600px){
    .infocontainer input{
        font-size: 20px;
    }
    .contact-container form{
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .infocontainer{
        margin-bottom: 0%;
    }
    .contact-container h1{
        font-size: 70px;
    }
    .aboutxt h1{
        font-size: 50px;
    }
    .links{
        display: none;
    }
    .firstpolygon{
        width: 80%;
    }
    .title{
        line-height: 45px;
    }
    .firstpolygon h1{
        font-size: 80px;
    }
    .firstpolygon h2{
        font-size: 10px;
    }
    .secondpolygon{
        clip-path: none;
        left: 60%;
        width: 40%;
    }
    
    .workpages{
        width: 70%;
    }
    .worktxt{
        width: 30%;
    }
    .worktxt h1{
        width: auto;
        font-size: 35px;
    }
    .worktxt p{
        display: none;
}
.prjkit{
    width: 95%;
    height: 40%;
    box-shadow: none;
}
}
@media(max-height : 500px){

    .aboutxt h1{
        top: 7%;
    }
    .bioabout{
        height: 60%;
        width: 65%;
    }
}
@media(max-width : 450px){
    .contact-container h1{
        font-size: 60px;
    }
    .overlay a {
        font-size: 30px;
        color: #55410A;
    }

.workit{
        width: 90%;
        height: 24%;
}
.workpages{
    width: 100%;
}
.worktxt{
    display: none;
}
.bioabout{
    width: 80%;
}
.bgabout{
    width: 100%;
    box-shadow: none;
}
.aboutxt h1{
    top: 25%;
    padding-right: 6%;
}
}